@font-face {
    font-family: century;
    src: url(./fonts/gothic-normal.ttf);
}
@font-face {
    font-family: century;
    src: url(./fonts/gothic-bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: century;
    src: url(./fonts/gothic-italic.ttf);
    font-style: italic;
}

* {
    font-family: 'century';
}

#darkTheme {
    $blue: #1585fd;
    $green: #60D394;
    $pink: #E56399;
    $yellow: #FFB997;
    $darkest: #121212;
    $middle: #252525;
    $light: #333333;

    $text-color: #e9e9e9;
    
    background-color: $darkest;
    min-height: 100vh;

    p,h1 {
        color: $text-color;
    }

    a {
        color: $text-color;
        &:hover {
            text-decoration: none;
        }
    }

    label {
        font-weight: bold;
    }

    .bgr-primary {
        background-color: $blue;
    }

    .border-md-left {
        border-left: 1px solid rgba(0, 0, 0, 0.125);
    }

    .btn {
        text-decoration: none;
        transition: .2s ease;
        border: 2px solid;
        border-radius: 4px;
        &.btn-primary {
            &.btn-ghost {
                border-color: $blue;
                color: $blue;
                background-color: transparent;
                &:hover {
                    background-color: $blue;
                }
            }
            &.btn-fill {
                background-color: $blue;
                border-color: $blue;
                color: white;
            }
        }
        &.btn-secondary {
            &.btn-fill, &.btn-ghost {
                background-color: $pink;
                border-color: $pink;
                color: white;
            }
        }
        &.btn-tertiary {
            &.btn-ghost {
                border-color: $yellow;
                color: $yellow;
                background-color: transparent;
                &:hover {
                    background-color: $yellow;
                }
            }
            &.btn-fill {
                background-color: $yellow;
                border-color: $yellow;
                color: white;
            }
        }
        &.btn-success {
            &.btn-ghost {
                border-color: $green;
                color: $green;
                background-color: transparent;
                &:hover {
                    background-color: $green;
                }
            }
            &.btn-fill {
                background-color: $green;
                border-color: $green;
                color: white;
            }
        }
        &.btn-ghost {
            &:hover {
                color: white;
            }
        }
        &.btn-fill {
            &:hover {
                opacity: .8;
            }
        }
    }

    .logo-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    header {
        background-color: $middle;
        -webkit-box-shadow: 0px -16px 25px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -16px 25px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -16px 25px 0px rgba(0,0,0,0.75);
        form {
            i.fa-search {
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                color: $blue;
            }
            input {
                padding-left: 40px;
                border: none;
                border-radius: 4px;
                background-color: lighten($light, 10);
            }
        }

        .logo {
            width: 100%;
            max-width: 180px;
        }

        .user-btn {
            background-color: $light;
            color: $text-color;
            border-radius: 4px;
            -webkit-transition: .2s ease;
            transition: .2s ease;
            cursor: pointer;
            &:hover {
                background-color: lighten($light, 10);
            }
        }
        .dropdown-menu {
            background-color: $light;
            .dropdown-item {
                color: $text-color;
                &.no-hover:hover {
                    background-color: $light;
                }
                &:not(.no-hover):hover {
                    background-color: lighten($light, 10);
                }
            }
        }
    }

    .bars {
        position: relative;
        width: 50px;
        height: 35px;
        span {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: -28px;
        }
        .bar {
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: $green;
            border-radius: 2.5px;
            top: 15px;
            left: 0;
            transition: .4s ease;
            &::before, &::after {
                content: '';
                position: absolute;
                width: 50px;
                height: 100%;
                background-color: $green;
                left: 0;
                border-radius: 2.5px;
                transition: .4s ease;
            }
            &::before {
                top: -15px;
            }
            &::after {
                bottom: -15px;
            }

            &.active {
                width: 0;
                left: 25px;
                &::before {
                    top: 0;
                    left: -25px;
                    transform: rotate(45deg);
                }
                &::after {
                    bottom: 0;
                    left: -25px;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .nav-hidden {
        display: none;
    }

    .sorter {
        border-radius: 5px;
        background-color: $light;
        ul {
            li {
                color: $text-color;
                cursor: pointer;
                -webkit-transition: .2s ease;
                transition: .2s ease;
                &:hover, &.active {
                    background-color: $middle;
                    color: $blue;
                }
            }
        }
    }

    .content-container {
        background-color: $light;
        border-radius: 5px;
        border: 1px solid $light;
        color: $text-color;
        -webkit-transition: .2s ease;
        transition: .2s ease;
        &:not(.no-hover):hover {
            border: 1px solid lighten($light, 20);
        }
        .content {
            width: calc(100% - 50px);
            padding: 7px;
            padding-left: 11px;
            .content-info {
                font-size: 15px;
                .small {
                    color: #bdbbbb;
                    font-size: 14px;
                    a {
                        color: #bdbbbb;
                    }
                }
            }

            .content-body {
                color: $text-color !important;
                margin: 10px 0 5px 0;
                a {
                    color: $text-color !important;
                }
            }

            .content-actions {
                a {
                    color: #bdbbbb;
                    text-decoration: none;
                    font-size: 14px;
                    border-radius: 3px;
                    -webkit-transition: .2s ease;
                    transition: .2s ease;
                    &:hover {
                        text-decoration: none;
                        background-color: lighten($light, 15);
                    }
                }
            }
        }
        .post-votes {
            width: 50px;
            background-color: $middle;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            .points {
                font-size: 13px;
                line-height: 10px;
            }
            .fas {
                padding: 7px;
                cursor: pointer;
                transition: .15s ease;
                &:hover {
                    background-color: darken($blue, 7);
                    border-radius: 3px;
                }
            }
        }
        .comment-votes {
            width: 50px;
            .fas {
                padding: 2px;
                cursor: pointer;
                transition: .15s ease;
                &:hover {
                    background-color: lighten($light, 15);
                    color: $blue;
                    border-radius: 3px;
                }
            }
        }
    }

    .sidebar {
        border-radius: 5px;
        position: sticky;
        top: 20px;
        background-color: $light;
        .title {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-color: $middle;
            color: $text-color;
        }
        .sidebar-body {
            background-color: $light;
            color: $text-color;
            .list-item:not(:last-child) {
                border-bottom: 1px solid lighten($light, 15);
            }
        }
        .viewAll {
            background-color: $light;
        }
    }

    .sideNav {
        a {
            text-decoration: none;
            color: $text-color;
            &:hover {
                text-decoration: none;
            }
            li {
                border-bottom: 1px solid rgba(0,0,0,.125);
                transition: .2s ease;
                &.active {
                    background-color: $green;
                    color: white;
                    font-weight: bold;
                }
                &:hover:not(.active) {
                    background-color: rgba(0,0,0,.05);
                }
            }
        }
    }

    .list-item {
        transition: .2s;
        border-bottom: 1px solid $middle;
        &:hover {
            background-color: $blue;
        }
    }

    .sidebar-nav-list {
        background-color: $light;
        li {
            cursor: pointer;
            color: $text-color;
            transition: .2s;
            -webkit-transition: .2s;
            &:hover {
                background-color: lighten($light, 5);
            }
        }
    }

    .card {
        background-color: $light;
        color: $text-color;
    }

    table {
        th, td {
            color: $text-color;
            border-top-color: $middle !important;
        }
        th {
            border-bottom-color: $middle !important;
        }
    }

    input.form-control, textarea.form-control, select.form-control {
        background-color: lighten($light, 10);
        border: none;
        color: $text-color;
        option {
            color: $text-color;
        }
        &:focus {
            background-color: lighten($light, 10);
            outline: none;
            color: $text-color;
        }
        &:disabled {
            background-color: lighten($light, 5);
        }
    }
    input.error {
        border-color: $pink;
    }
    .errorMsg {
        color: $pink;
    }


    footer {
        background-color: #f2f2f2;
    }

    .logoEmail {
        width: 48px;
    }

    .sendButton {
        margin-left: 80%;
        background-color: #60D394;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .sendButton {
        background-color: #60D394; 
        color: white; 
    }
      
    .sendButton:hover {
        background-color: #4CAF50;
        color: white;
    }

    .overlay {
        position: absolute;
        width: 500px;
        top: 50%;
        left: 50%;
        background-color: $light;
        z-index: 999;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0px 0px 0px 5000px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 0px 5000px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 0px 5000px rgba(0,0,0,0.75);
    }

    @media (min-width: 992px) {
        .nav-hidden {
            display: block;
        }
    }
}
