@font-face {
  font-family: century;
  src: url(./fonts/gothic-normal.ttf);
}

@font-face {
  font-family: century;
  src: url(./fonts/gothic-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: century;
  src: url(./fonts/gothic-italic.ttf);
  font-style: italic;
}

* {
  font-family: 'century';
}

#darkTheme {
  background-color: #121212;
  min-height: 100vh;
}

#darkTheme p, #darkTheme h1 {
  color: #e9e9e9;
}

#darkTheme a {
  color: #e9e9e9;
}

#darkTheme a:hover {
  text-decoration: none;
}

#darkTheme label {
  font-weight: bold;
}

#darkTheme .bgr-primary {
  background-color: #1585fd;
}

#darkTheme .border-md-left {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

#darkTheme .btn {
  text-decoration: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  border: 2px solid;
  border-radius: 4px;
}

#darkTheme .btn.btn-primary.btn-ghost {
  border-color: #1585fd;
  color: #1585fd;
  background-color: transparent;
}

#darkTheme .btn.btn-primary.btn-ghost:hover {
  background-color: #1585fd;
}

#darkTheme .btn.btn-primary.btn-fill {
  background-color: #1585fd;
  border-color: #1585fd;
  color: white;
}

#darkTheme .btn.btn-secondary.btn-fill, #darkTheme .btn.btn-secondary.btn-ghost {
  background-color: #E56399;
  border-color: #E56399;
  color: white;
}

#darkTheme .btn.btn-tertiary.btn-ghost {
  border-color: #FFB997;
  color: #FFB997;
  background-color: transparent;
}

#darkTheme .btn.btn-tertiary.btn-ghost:hover {
  background-color: #FFB997;
}

#darkTheme .btn.btn-tertiary.btn-fill {
  background-color: #FFB997;
  border-color: #FFB997;
  color: white;
}

#darkTheme .btn.btn-success.btn-ghost {
  border-color: #60D394;
  color: #60D394;
  background-color: transparent;
}

#darkTheme .btn.btn-success.btn-ghost:hover {
  background-color: #60D394;
}

#darkTheme .btn.btn-success.btn-fill {
  background-color: #60D394;
  border-color: #60D394;
  color: white;
}

#darkTheme .btn.btn-ghost:hover {
  color: white;
}

#darkTheme .btn.btn-fill:hover {
  opacity: .8;
}

#darkTheme .logo-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#darkTheme header {
  background-color: #252525;
  -webkit-box-shadow: 0px -16px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -16px 25px 0px rgba(0, 0, 0, 0.75);
}

#darkTheme header form i.fa-search {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #1585fd;
}

#darkTheme header form input {
  padding-left: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d4d4d;
}

#darkTheme header .logo {
  width: 100%;
  max-width: 180px;
}

#darkTheme header .user-btn {
  background-color: #333333;
  color: #e9e9e9;
  border-radius: 4px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
}

#darkTheme header .user-btn:hover {
  background-color: #4d4d4d;
}

#darkTheme header .dropdown-menu {
  background-color: #333333;
}

#darkTheme header .dropdown-menu .dropdown-item {
  color: #e9e9e9;
}

#darkTheme header .dropdown-menu .dropdown-item.no-hover:hover {
  background-color: #333333;
}

#darkTheme header .dropdown-menu .dropdown-item:not(.no-hover):hover {
  background-color: #4d4d4d;
}

#darkTheme .bars {
  position: relative;
  width: 50px;
  height: 35px;
}

#darkTheme .bars span {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -28px;
}

#darkTheme .bars .bar {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #60D394;
  border-radius: 2.5px;
  top: 15px;
  left: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

#darkTheme .bars .bar::before, #darkTheme .bars .bar::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #60D394;
  left: 0;
  border-radius: 2.5px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

#darkTheme .bars .bar::before {
  top: -15px;
}

#darkTheme .bars .bar::after {
  bottom: -15px;
}

#darkTheme .bars .bar.active {
  width: 0;
  left: 25px;
}

#darkTheme .bars .bar.active::before {
  top: 0;
  left: -25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#darkTheme .bars .bar.active::after {
  bottom: 0;
  left: -25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#darkTheme .nav-hidden {
  display: none;
}

#darkTheme .sorter {
  border-radius: 5px;
  background-color: #333333;
}

#darkTheme .sorter ul li {
  color: #e9e9e9;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#darkTheme .sorter ul li:hover, #darkTheme .sorter ul li.active {
  background-color: #252525;
  color: #1585fd;
}

#darkTheme .content-container {
  background-color: #333333;
  border-radius: 5px;
  border: 1px solid #333333;
  color: #e9e9e9;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#darkTheme .content-container:not(.no-hover):hover {
  border: 1px solid #666666;
}

#darkTheme .content-container .content {
  width: calc(100% - 50px);
  padding: 7px;
  padding-left: 11px;
}

#darkTheme .content-container .content .content-info {
  font-size: 15px;
}

#darkTheme .content-container .content .content-info .small {
  color: #bdbbbb;
  font-size: 14px;
}

#darkTheme .content-container .content .content-info .small a {
  color: #bdbbbb;
}

#darkTheme .content-container .content .content-body {
  color: #e9e9e9 !important;
  margin: 10px 0 5px 0;
}

#darkTheme .content-container .content .content-body a {
  color: #e9e9e9 !important;
}

#darkTheme .content-container .content .content-actions a {
  color: #bdbbbb;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#darkTheme .content-container .content .content-actions a:hover {
  text-decoration: none;
  background-color: #595959;
}

#darkTheme .content-container .post-votes {
  width: 50px;
  background-color: #252525;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#darkTheme .content-container .post-votes .points {
  font-size: 13px;
  line-height: 10px;
}

#darkTheme .content-container .post-votes .fas {
  padding: 7px;
  cursor: pointer;
  -webkit-transition: .15s ease;
  transition: .15s ease;
}

#darkTheme .content-container .post-votes .fas:hover {
  background-color: #0273ec;
  border-radius: 3px;
}

#darkTheme .content-container .comment-votes {
  width: 50px;
}

#darkTheme .content-container .comment-votes .fas {
  padding: 2px;
  cursor: pointer;
  -webkit-transition: .15s ease;
  transition: .15s ease;
}

#darkTheme .content-container .comment-votes .fas:hover {
  background-color: #595959;
  color: #1585fd;
  border-radius: 3px;
}

#darkTheme .sidebar {
  border-radius: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: #333333;
}

#darkTheme .sidebar .title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #252525;
  color: #e9e9e9;
}

#darkTheme .sidebar .sidebar-body {
  background-color: #333333;
  color: #e9e9e9;
}

#darkTheme .sidebar .sidebar-body .list-item:not(:last-child) {
  border-bottom: 1px solid #595959;
}

#darkTheme .sidebar .viewAll {
  background-color: #333333;
}

#darkTheme .sideNav a {
  text-decoration: none;
  color: #e9e9e9;
}

#darkTheme .sideNav a:hover {
  text-decoration: none;
}

#darkTheme .sideNav a li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#darkTheme .sideNav a li.active {
  background-color: #60D394;
  color: white;
  font-weight: bold;
}

#darkTheme .sideNav a li:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.05);
}

#darkTheme .list-item {
  -webkit-transition: .2s;
  transition: .2s;
  border-bottom: 1px solid #252525;
}

#darkTheme .list-item:hover {
  background-color: #1585fd;
}

#darkTheme .sidebar-nav-list {
  background-color: #333333;
}

#darkTheme .sidebar-nav-list li {
  cursor: pointer;
  color: #e9e9e9;
  transition: .2s;
  -webkit-transition: .2s;
}

#darkTheme .sidebar-nav-list li:hover {
  background-color: #404040;
}

#darkTheme .card {
  background-color: #333333;
  color: #e9e9e9;
}

#darkTheme table th, #darkTheme table td {
  color: #e9e9e9;
  border-top-color: #252525 !important;
}

#darkTheme table th {
  border-bottom-color: #252525 !important;
}

#darkTheme input.form-control, #darkTheme textarea.form-control, #darkTheme select.form-control {
  background-color: #4d4d4d;
  border: none;
  color: #e9e9e9;
}

#darkTheme input.form-control option, #darkTheme textarea.form-control option, #darkTheme select.form-control option {
  color: #e9e9e9;
}

#darkTheme input.form-control:focus, #darkTheme textarea.form-control:focus, #darkTheme select.form-control:focus {
  background-color: #4d4d4d;
  outline: none;
  color: #e9e9e9;
}

#darkTheme input.form-control:disabled, #darkTheme textarea.form-control:disabled, #darkTheme select.form-control:disabled {
  background-color: #404040;
}

#darkTheme input.error {
  border-color: #E56399;
}

#darkTheme .errorMsg {
  color: #E56399;
}

#darkTheme footer {
  background-color: #f2f2f2;
}

#darkTheme .logoEmail {
  width: 48px;
}

#darkTheme .sendButton {
  margin-left: 80%;
  background-color: #60D394;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

#darkTheme .sendButton {
  background-color: #60D394;
  color: white;
}

#darkTheme .sendButton:hover {
  background-color: #4CAF50;
  color: white;
}

#darkTheme .overlay {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  background-color: #333333;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.75);
}

@media (min-width: 992px) {
  #darkTheme .nav-hidden {
    display: block;
  }
}
/*# sourceMappingURL=dark.css.map */