@font-face {
  font-family: century;
  src: url(./fonts/gothic-normal.ttf);
}

@font-face {
  font-family: century;
  src: url(./fonts/gothic-bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: century;
  src: url(./fonts/gothic-italic.ttf);
  font-style: italic;
}

* {
  font-family: 'century';
}

#lightTheme {
  background-color: #e9f4ff;
  min-height: 100vh;
}

#lightTheme label {
  font-weight: bold;
}

#lightTheme .bgr-primary {
  background-color: #59A9FF;
}

#lightTheme .border-md-left {
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

#lightTheme h1 {
  color: #292929;
}

#lightTheme a {
  color: #292929;
}

#lightTheme a:hover {
  text-decoration: none;
}

#lightTheme .btn {
  text-decoration: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  border: 2px solid;
  border-radius: 4px;
}

#lightTheme .btn.btn-primary.btn-ghost {
  border-color: #59A9FF;
  color: #59A9FF;
  background-color: transparent;
}

#lightTheme .btn.btn-primary.btn-ghost:hover {
  background-color: #59A9FF;
}

#lightTheme .btn.btn-primary.btn-fill {
  background-color: #59A9FF;
  border-color: #59A9FF;
  color: white;
}

#lightTheme .btn.btn-secondary.btn-ghost {
  border-color: #E56399;
  color: #E56399;
  background-color: transparent;
}

#lightTheme .btn.btn-secondary.btn-ghost:hover {
  background-color: #E56399;
}

#lightTheme .btn.btn-secondary.btn-fill {
  background-color: #E56399;
  border-color: #E56399;
  color: white;
}

#lightTheme .btn.btn-tertiary.btn-ghost {
  border-color: #FFB997;
  color: #FFB997;
  background-color: transparent;
}

#lightTheme .btn.btn-tertiary.btn-ghost:hover {
  background-color: #FFB997;
}

#lightTheme .btn.btn-tertiary.btn-fill {
  background-color: #FFB997;
  border-color: #FFB997;
  color: white;
}

#lightTheme .btn.btn-success.btn-ghost {
  border-color: #60D394;
  color: #60D394;
  background-color: transparent;
}

#lightTheme .btn.btn-success.btn-ghost:hover {
  background-color: #60D394;
}

#lightTheme .btn.btn-success.btn-fill {
  background-color: #60D394;
  border-color: #60D394;
  color: white;
}

#lightTheme .btn.btn-ghost:hover {
  color: white;
}

#lightTheme .btn.btn-fill:hover {
  opacity: .8;
}

#lightTheme .logo-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#lightTheme header {
  background-color: white;
  -webkit-box-shadow: 0px -16px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -16px 25px 0px rgba(0, 0, 0, 0.75);
}

#lightTheme header form i.fa-search {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #59A9FF;
}

#lightTheme header form input {
  padding-left: 40px;
  border: none;
  border-radius: 4px;
  background-color: #d6e4f6;
}

#lightTheme header .logo {
  width: 100%;
  max-width: 180px;
}

#lightTheme header .user-btn {
  border-radius: 4px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
}

#lightTheme header .user-btn:hover {
  background-color: #e4e3e3;
}

#lightTheme header .dropdown-menu .dropdown-item:first-child:hover {
  background-color: white;
}

#lightTheme .bars {
  position: relative;
  width: 50px;
  height: 35px;
}

#lightTheme .bars span {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -28px;
}

#lightTheme .bars .bar {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #60D394;
  border-radius: 2.5px;
  top: 15px;
  left: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

#lightTheme .bars .bar::before, #lightTheme .bars .bar::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: #60D394;
  left: 0;
  border-radius: 2.5px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

#lightTheme .bars .bar::before {
  top: -15px;
}

#lightTheme .bars .bar::after {
  bottom: -15px;
}

#lightTheme .bars .bar.active {
  width: 0;
  left: 25px;
}

#lightTheme .bars .bar.active::before {
  top: 0;
  left: -25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#lightTheme .bars .bar.active::after {
  bottom: 0;
  left: -25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#lightTheme .nav-hidden {
  display: none;
}

#lightTheme .sorter {
  border-radius: 5px;
  background-color: white;
}

#lightTheme .sorter ul li {
  color: #292929;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#lightTheme .sorter ul li:hover, #lightTheme .sorter ul li.active {
  background-color: #f2f2f2;
  color: #59A9FF;
}

#lightTheme .content-container {
  background-color: white;
  border-radius: 5px;
  color: #292929;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#lightTheme .content-container:not(.no-hover):hover {
  color: #292929;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -14px rgba(0, 0, 0, 0.75);
}

#lightTheme .content-container .content {
  width: calc(100% - 50px);
  padding: 7px;
  padding-left: 11px;
}

#lightTheme .content-container .content .content-info {
  font-size: 15px;
}

#lightTheme .content-container .content .content-info .small {
  color: #bdbbbb;
  font-size: 14px;
}

#lightTheme .content-container .content .content-info .small a {
  color: #bdbbbb;
}

#lightTheme .content-container .content .content-body {
  color: #292929 !important;
  margin: 10px 0 5px 0;
}

#lightTheme .content-container .content .content-body a {
  color: #292929 !important;
}

#lightTheme .content-container .content .content-actions a {
  color: #bdbbbb;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#lightTheme .content-container .content .content-actions a:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}

#lightTheme .content-container .post-votes {
  width: 50px;
  background-color: #59A9FF;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#lightTheme .content-container .post-votes .points {
  font-size: 13px;
  line-height: 10px;
}

#lightTheme .content-container .post-votes .fas {
  padding: 7px;
  cursor: pointer;
  -webkit-transition: .15s ease;
  transition: .15s ease;
}

#lightTheme .content-container .post-votes .fas:hover {
  background-color: white;
  color: #59A9FF;
  border-radius: 3px;
}

#lightTheme .content-container .comment-votes {
  width: 50px;
}

#lightTheme .content-container .comment-votes .fas {
  padding: 2px;
  cursor: pointer;
  -webkit-transition: .15s ease;
  transition: .15s ease;
}

#lightTheme .content-container .comment-votes .fas:hover {
  background-color: white;
  color: #59A9FF;
  border-radius: 3px;
}

#lightTheme .sidebar {
  border-radius: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background-color: white;
}

#lightTheme .sidebar .title {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #59A9FF;
}

#lightTheme .sideNav a {
  text-decoration: none;
  color: black;
}

#lightTheme .sideNav a:hover {
  text-decoration: none;
}

#lightTheme .sideNav a li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

#lightTheme .sideNav a li.active {
  background-color: #60D394;
  color: white;
  font-weight: bold;
}

#lightTheme .sideNav a li:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.05);
}

#lightTheme .list-item {
  -webkit-transition: .2s;
  transition: .2s;
  border-bottom: 1px solid #e6e6e6;
}

#lightTheme .list-item:hover {
  background-color: #bfdeff;
}

#lightTheme .sidebar-nav-list li {
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
}

#lightTheme .sidebar-nav-list li:hover {
  background-color: #f5f5f5;
}

#lightTheme input.error {
  border-color: #E56399;
}

#lightTheme .errorMsg {
  color: #E56399;
}

#lightTheme footer {
  background-color: #f2f2f2;
}

#lightTheme .logoEmail {
  width: 48px;
}

#lightTheme .sendButton {
  margin-left: 80%;
  background-color: #60D394;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
}

#lightTheme .sendButton {
  background-color: #60D394;
  color: white;
}

#lightTheme .sendButton:hover {
  background-color: #4CAF50;
  color: white;
}

#lightTheme .overlay {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  background-color: white;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 5000px rgba(0, 0, 0, 0.75);
}

@media (min-width: 992px) {
  #lightTheme .nav-hidden {
    display: block;
  }
}
/*# sourceMappingURL=light.css.map */